/vendor
/resources/vendor
/node_modules
/public/hot
/public/storage
/persist
Homestead.yaml
Homestead.json
.env
.env.backup
cypress.env.json
/storage/oauth-private.key
/storage/oauth-public.key
.DS_Store
public/.DS_Store
npm-debug.log*
/results
.deploy.json
yarn-error.log
/tests/cypress/screenshots
/tests/cypress/videos
.scannerwork/
.sentry-release
.phpunit.result.cache
.composer
.idea
